.Section {
  background-image: url(./../../assets/discord-background.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  flex: 1 0 auto;
  padding-inline: var(--main-padding);
  font-size: 2em;
}

.Section .container {
  max-width: min(50rem, 100%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Section h1 {
  text-transform: uppercase;
}